/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0959a5;
  --ifm-color-primary-dark: #085094;
  --ifm-color-primary-darker: #084c8c;
  --ifm-color-primary-darkest: #063e74;
  --ifm-color-primary-light: #0a62b6;
  --ifm-color-primary-lighter: #0a66be;
  --ifm-color-primary-lightest: #0c74d7;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #61b3ff;
  --ifm-color-primary-dark: #3ea2ff;
  --ifm-color-primary-darker: #2c9aff;
  --ifm-color-primary-darkest: #0080f6;
  --ifm-color-primary-light: #84c4ff;
  --ifm-color-primary-lighter: #96ccff;
  --ifm-color-primary-lightest: #cbe6ff;
}
